<!--  <div class="horizontal-container width-100vw background-color justify-center">-->
<!--    <button class="button-default margin-5">test</button>-->
<!--    <button class="button-default">test</button>-->
<!--    <button class="button-default">test</button>-->
<!--    <button class="button-default">test</button>-->
<!--    <button class="button-default">test</button>-->

<!--  </div>-->
<!--  <div class="vertical-container">-->
<!--    <button class="button-default">test</button>-->
<!--    <button class="button-default">test</button>-->
<!--    <button class="button-default">test</button>-->
<!--    <button class="button-default">test</button>-->
<!--    <button class="button-default">test</button>-->

<!--  </div>-->
<nav class="navbar">
  <a href="" class="navbar_logo">NimaKhorasani</a>
  <div class="navbar_bars">
    <i class="fa-solid fa-bars"></i>
  </div>
    <div class="navbar_menu">
    <a href="" class="navbar_menu-links">Home</a>
      <a href="" class="navbar_menu-links">Blog</a>
      <a href="" class="navbar_menu-links">Services</a>
      <a href="" class="navbar_menu-links" id="button">SignUp</a>
    </div>
</nav>
  <div class="hero">
    <div class="hero_container">
      <div class="hero_container_left">
        <h1>They Are Coming</h1>
        <h2>Be Prepared</h2>
        <p>Sign Up To Join List</p>
        <button class="hero_container_btn"><a href=" ">Sign Up</a></button>
      </div>
      <div class="hero_container_right">
        <img src="./assets/images/Friendly-Alien.svg" alt="alien" class="hero_container_img">
      </div>
    </div>
  </div>


